@import '../core/mixin';

.main__article {
    margin: 0% 5% 0 5%;
    padding-top: 5%;


    &__title {
        @include articleTitle
    }

    &__text {
        padding: 2.5% 0 5% 0;
        line-height: 1.4;
    }
}

.emphasize {
    border-bottom: solid black 1px;
    border-top: solid black 1px;

    &__text {
        padding: 0 0 0 5%;
        margin: 5%;
        border-left: solid 4px lightgray;
    }
}