@import './core/mixin';
@import './core/variables';

.main__article {
    margin: 0 5% 0 5%;
    padding: 3% 0 3% 0;


    &__title {
        @include articleTitle
    }

    &__text {
        padding: 2.5% 0 2.5% 0;
    }
}

.emphasize {
    border-bottom: solid black 1px;
    border-top: solid black 1px;

    &__text {
        padding: 0 0 0 5%;
        margin: 5%;
        border-left: solid 2px gray;
    }
}