@import './variables';
@import './responsive';

@mixin header-footer {
  display: flex;
  flex-direction: column;
  background-color: $headerFooterBckg;
  height: 20vh;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
  }
}

@mixin nav {
  background-color: $navBckg;
  color: $navText;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}




@mixin articleTitle {
  font-size: 1.1rem;
  font-family: $textFont;
  font-weight: 600;
}

@mixin asideDiv {
  height: 20vh;
  width: 80%;
  background-color: $headerFooterBckg;
}