@import './core/variables';

@mixin header-footer {
  background-color: $headerFooterBckg;
  display: flex;
  flex-direction: column;
}

@mixin nav {
  background-color: $navBckg;
  color: $navText;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
}

@mixin articleTitle {
  font-size: 1.7rem;
  font-family: $textFont;
  font-weight: 600;
}