/*Color Palette*/

$headerFooterBckg: #FF993E;
$navBckg: #c0392b;
$navHover: #e74D3f;
$navText: #ffff;
$socialBckg: #874000;
$asideBckg: #008000;
$border: lightgray;
$bottomBorder: black;

/*Fonts*/

$titleFont: 'Montserrat', sans-serif;
$textFont: 'Merriweather', serif;