@import '../core/mixin';
@import '../core/responsive';

.aside {
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: green;
        padding-top: 2%;
        min-width: 25%;
        gap: 5%
    }

    &__div {
        display: hidden;

        @include tablet {
            @include asideDiv;
        }

    }
}