@import '../core/mixin';
@import '../core/responsive';
@import '../core/variables';

.aside {
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $asideBckg;
        padding-top: 2%;
        min-width: 35%;
        gap: 5%
    }

    &__div {
        display: hidden;

        @include tablet {
            @include asideDiv;
        }

    }
}