@import './core/mixin';
@import './core/variables';

.footer {
    @include header-footer;
    align-items: center;
    padding: 5% 0 5% 0;

    &__nav__ul {
        @include nav;
        gap: 5%;
        width: 84vw;

    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $socialBckg;
        color: $navText;
        text-transform: uppercase;
        padding: 3% 7% 3% 7%;
        gap: 25%;
    }
}