@import './core/mixin';
@import './core/variables';

.footer {
    @include header-footer;
    align-items: center;
    padding: 6% 0 3% 0;

    @include tablet {
        gap: 2vh;
    }

    @include desktop {
        padding-bottom: 1%;
        padding-top: 1%
    }

    &__nav__ul {
        @include nav;
        width: 84vw;

        @include desktop {
            max-width: 25vw;

        }

        &--link {
            @include link
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $socialBckg;
        color: $navText;
        text-transform: uppercase;
        padding: 3% 7% 3% 7%;
        gap: 20%;

        @include tablet {
            padding: 1.5% 5% 1.5% 5%;
        }

        @include desktop {
            padding: 1% 4% 1% 4%;
            gap: 35%;
        }
    }
}