/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

@import 'core/reset';
@import 'core/variables';
@import 'components/article';
@import 'layout/header';
@import 'layout/footer';

* {
    font-family: $textFont;
}

.body {
    height: 100vh;
    background-color: $headerFooterBckg;
}

.main {
    background-color: white;

}