@import 'core/reset';
@import 'core/variables';
@import 'components/article';
@import 'components/link';
@import 'layout/header';
@import 'layout/aside';
@import 'layout/footer';

* {
    font-family: $textFont;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    background-color: white;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    @include desktop {
        border-left: 35px solid $border;
        min-height: 75%;
        padding: 0 5% 0 0;
    }

    &__section {

        @include tablet {
            max-width: 65%;
        }
    }

}